@use '../../styles/abstract/colors' as *;

.imagesdisplay {
    
    .image_container {
        position: relative;
        text-align: center;
        transition: ease-in-out 0.2s;

        &:hover {
            transform: scale(1.02);
        }
        
        .img_wrapper {
            position: relative;
            height: 700px;
            border-radius: 10px;
            // width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: $dark-level0;
            box-shadow: 10px 10px 20px $dark-level5;
            
            .img_img {
                width: 100%;
                opacity: 0.5;
            }
        }

        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            color: $dark-text-87;
            transform: translate(-50%, -50%);
        }
    }
}