@use '../../styles/abstract/colors' as *;
.news_desarrollo{
    margin-top: 3rem;
    padding: 50px 10px;
    .line_decoration_right{
        width: 50%;
        border-width: 5px;
        margin-bottom: 10px;
        color: $primary;
        opacity: 1;
        border-radius: 5px;
    }

    .line_decoration_left{
      
        border-width: 5px;
        margin-bottom: 10px;
        color: $primary;
        opacity: 1;
        border-radius: 5px;
      
    }
}