@use '../../styles/abstract/colors' as *;
@import '../../responsive/mixin';
.galleryadmin{
    .btn {
        width: 140px;
        background-color: $primary;
        color: white;
        padding: 0;
        font-weight: 600;
        margin: 0px 5px;
        height: 4.5vh;
    }
}