@import '../../responsive/mixin';

.devpro {
    margin-top: 3rem;
    padding: 50px 10px;

    .devpro_img_container {
        padding: 10px;
        width: 100%;
        
        .devpro_img {
            border-radius: 10px;
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
        
        @include respond(tab-port) {
            .devpro_img {
                width: 100%;
            }
        }
    }
}