@use '../../styles/abstract/colors' as *;

.inputbox {
    margin: 15px 0px;
    
    .title_box {
        background-color: $primary;
        color: white;
        font-weight: 600;
        padding: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .input_box {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;

        input {
            border: 0;
            padding: 0px 10px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #989898;
                font-style: italic;
            }
        }
    }
}