@use '../abstract/colors' as *;

body {
    padding: 0;
    margin: 0;
}

.light {
    .text-theme {
        color: $light-text-87;
    }

    .background-theme {
        background-color: $light-background;
    }

    .transparent-theme {
        background-color: transparent;
    }

    .main-content-theme {
        background-color: $light-background;
        color: $light-text-87;
    }

    .border-theme {
        border: 1px solid $light-border;
    }

    .button-theme {
        padding: 5px 10px;
        border: 1px solid $dark-border;
        background-color: $primary;
        color: $dark-text-87;
        border-radius: 5px;
    }
}

.dark {
    .text-theme {
        color: $dark-text-87;
    }

    .background-theme {
        background-color: $dark-level2;
    }

    .main-content-theme {
        background-color: $dark-level1;
        color: $dark-text-87;
    }

    .border-theme {
        border: 1px solid $light-border;
    }

    .button-theme {
        padding: 5px 10px;
        border: 1px solid $dark-border;
        background-color: $primary;
        color: $dark-text-87;
        border-radius: 5px;
    }

}

.primary-theme {
    background-color: $primary-70;
}